<!DOCTYPE html>
<html>
<head>
  <title>RosalilaSite</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="user_nav">
		<% @current_user = current_user %>
  	<% if @current_user %>
  	  Logged in as <b><%= @current_user.username %></b>
  	  <%= link_to "Log out", log_out_path %> |
			<%= link_to "Profile", show_user_url(:username => @current_user.username) %> 
  	<% else %>
  	  <%= link_to "Sign up", sign_up_url %> or 
  	  <%= link_to "Log in", log_in_url %>
  	<% end %>
		| <%= link_to "Home", root_url %>
	</div>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash#{name}" %>
  <% end %>

  <%= yield %>

</body>
</html>
